<ion-view title="Notificaciones" id="page6">
  <ion-content padding="true" style="background: url(img/vYuhkNrQFa93t5OnK3yz_baby-during-pregnancy.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="item item-body" id="notificaciones-list-item-container7">
      <div id="notificaciones-markdown13" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Recordatorios</strong>
        </p>
      </div>
    </div>
    <form id="notificaciones-form3" class="list">
      <ion-toggle toggle-class="toggle-positive" id="notificaciones-toggle3">Exámenes Clínicos</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="notificaciones-toggle1">Próxima Cita</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="notificaciones-toggle2">Vacuna</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="notificaciones-toggle4">Ultrasonidos</ion-toggle>
    </form>
    <div class="item item-body" id="notificaciones-list-item-container8">
      <div id="notificaciones-markdown15" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Mensajes Importantes</strong>
        </p>
      </div>
    </div>
    <ion-list id="notificaciones-list10">
      <ion-item class="item-icon-right" id="notificaciones-list-item35">Consejo Semanal
        <i class="icon ion-information-circled"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="notificaciones-list-item36">Noticias Recientes
        <i class="icon ion-android-checkmark-circle"></i>
      </ion-item>
    </ion-list>
    <button id="notificaciones-button3" class="button button-dark  button-block">Historial</button>
  </ion-content>
</ion-view>