<ion-view title="Acerca de la aplicacion  " id="page33">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" href-inappbrowser="http://tec.ac.cr/">
        <img src="img/JcGyVFGhRwqAQv9Whx4K_logo-tec.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <h1 id="acercaDeLaAplicacion-heading1" style="color:#000000;text-align:center;">Lorem ipsum</h1>
    <div class="item item-body" id="acercaDeLaAplicacion-list-item-container32">
      <div id="acercaDeLaAplicacion-markdown39" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Esta aplicación esta desarrollada</p>
      </div>
    </div>
    <ion-list id="acercaDeLaAplicacion-list24">
      <ion-item class="item-divider" id="acercaDeLaAplicacion-list-item-divider1"> Equipo desarrollador</ion-item>
      <ion-item class="item-avatar" id="acercaDeLaAplicacion-list-item102" href-inappbrowser="https://www.facebook.com/jeffrey.alvarado.q12">
        <img src="img/0YACIOZQC6vOYjxZmr9w_profile.jpg">
        <h2>Jeffrey Alvarado</h2>
        <p>Desarrollador</p>
      </ion-item>
      <ion-item class="item-avatar" id="acercaDeLaAplicacion-list-item103" href-inappbrowser="https://www.facebook.com/fedemonte.95">
        <img src="img/g5xgPq7QeOk1vilcZKsg_fede.jpg">
        <h2>Federico Montealegre</h2>
        <p>Desarrollador</p>
      </ion-item>
      <ion-item class="item-divider" id="acercaDeLaAplicacion-list-item-divider2"> Agradecimientos</ion-item>
      <ion-item class="item-icon-left" id="acercaDeLaAplicacion-list-item104">
        <i class="icon ion-android-bulb"></i>Kathy Brenes</ion-item>
      <ion-item class="item-icon-left" id="acercaDeLaAplicacion-list-item105">
        <i class="icon ion-university"></i>Adriana Álvarez</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
