<ion-view title="Bebé" id="page5" style="">
  <ion-content padding="true" style="background: url(img/R5VhASbTwKZBsVs28blZ_baby-during-pregnancy.jpg) no-repeat center;background-size:cover;" class="has-header">
    <!--div>
      <img src="img/swwF20EvRoKrt5N0agex_ultrasonido.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div-->
    <ion-list id="beb-list9" ng-repeat="bebe in bebes">
      <ion-item class="item-divider" id="beb-list-item-divider3"> Información de la gestación</ion-item>
      <ion-item class="item-icon-right" id="beb-list-item31" style="">Semana 35
        <i class="icon ion-ios-calendar"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="beb-list-item32" style="">{{bebe.genero}}
        <i class="icon ion-female"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="beb-list-item33" style="">{{bebe.peso}} Kg
        <i class="icon ion-connection-bars"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="beb-list-item34" style="">{{bebe.tamano}} cm
        <i class="icon ion-connection-bars"></i>
      </ion-item>
    </ion-list>
    <button id="beb-button2" class="button button-royal  button-block icon ion-android-create"> Actualizar</button>
  </ion-content>
</ion-view>
