<ion-view title="Consejos" id="page11" style="">
  <ion-content padding="true" style="background: url(img/HkSskUSSRfypXUla2pEi_baby-during-pregnancy.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="nuevoConsejo" id="consejos-button15" class="button button-royal  button-block">Agregar nuevo consejo</a>
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <div class="item item-body" id="consejos-list-item-container11" style="">
      <div id="consejos-markdown17" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;font-size:20px;">
          <strong>Mis consejos</strong>
        </p>
      </div>
      <div id="consejos-markdown10" class="show-list-numbers-and-dots">
        <p style="color:#000000;">No hay registro de consejos ingresados.</p>
      </div>
    </div>
  </ion-content>
</ion-view>