<ion-view title="Fotografías" id="page12" style="">
  <ion-content padding="true" style="background: url(img/bWeix9u8Tpy3gx21vGqK_baby-during-pregnancy.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 58px;"></div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="fotografAs-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="fotografAs-slide25" style="background:url(&quot;img/x6sMMFcESwmUXASKKZJZ_1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="fotografAs-slide24" style="background:url(&quot;img/IlwJBSaeTnCyWKeFUayZ_2.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="fotografAs-slide26" style="background:url(&quot;img/APnwUI6UQCqUgBiGIkoX_ultrasonido.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 300px; height: 65px;"></div>
    <button id="fotografAs-button25" class="button button-royal  button-block">Agregar Fotografía</button>
  </ion-content>
</ion-view>