<ion-view title="Fotografías" id="page12" style="">
  <ion-content padding="true" style="background: url(img/bWeix9u8Tpy3gx21vGqK_baby-during-pregnancy.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 58px;"></div>
    <ion-scroll>
	  <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px"/>
	</ion-scroll>
    <div class="spacer" style="width: 300px; height: 65px;"></div>
    <button id="fotografAs-button25" class="button button-royal  button-block" ng-click="addImage()">Agregar Fotografía</button>
  </ion-content>
</ion-view>
