<ion-view title="Mi Perfil" id="page3" style="" cache-view="false">
  <ion-content  ng-repeat="usuario in usuarios" padding="true" style="background: url(img/I3fI2weQT06Xbag9uGoS_baby-during-pregnancy.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="miPerfil-list3">
      <ion-item class="royal" id="miPerfil-list-item16" style="text-align: center;">
        <h2royal><strong>{{usuario.nombre}}</strong>
          <p>{{usuario.edad}} años</p>
        </h2royal>
      </ion-item>
      <ion-item class="item-divider" id="miPerfil-list-item-divider1"> Información de contacto</ion-item>
    </ion-list>
    <div class="item item-body" id="miPerfil-list-item-container3" style="">
      <div id="miPerfil-markdown4" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Correo electrónico</p>
      </div>
      <ion-list id="miPerfil-list5">
        <ion-item class="item-icon-right" id="miPerfil-list-item23" href="mailto:{{usuario.correo}}" style="">{{usuario.correo}}
          <i class="icon ion-email"></i>
        </ion-item>
      </ion-list>
    </div>
    <div class="item item-body" id="miPerfil-list-item-container4" style="">
      <div id="miPerfil-markdown7" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Teléfono de emergencia</p>
      </div>
      <ion-list id="miPerfil-list6">
        <ion-item class="item-icon-right" id="miPerfil-list-item27" href="tel:{{usuario.telefono}}" style="">{{usuario.telefono}}       
          <i class="icon ion-ios-telephone"></i>
        </ion-item>
      </ion-list>
    </div>
    <div class="item item-body" id="miPerfil-list-item-container5" style="">
      <div id="miPerfil-markdown9" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Información del embarazo</p>
      </div>
      <ion-list id="miPerfil-list7">
        <ion-item id="miPerfil-list-item28" style="">{{usuario.ultimoPeriodo | date:'dd/MM/yyyy'}}
          <span class="item-note">Último período</span>
        </ion-item>
        <ion-item id="miPerfil-list-item29" style="">{{usuario.estimacionParto | date:'dd/MM/yyyy'}}
          <span class="item-note">Estimación del parto</span>
        </ion-item>
        <ion-item class="assertive" id="miPerfil-list-item30" style="">{{usuario.semana}}
          <span class="item-note">Semana Actual</span>
        </ion-item>
      </ion-list>
    </div>
    <button ui-sref="editarPerfil" id="miPerfil-button123" class="button button-royal  button-block icon ion-android-create">Actualizar</button>
  </ion-content>
</ion-view>
