<ion-view title="Nueva entrada" id="page13" style="">
  <ion-content padding="true" style="background: url(img/ltHNxsnQtS9jqXygbETg_baby-during-pregnancy.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="nuevoConsejo-form7" class="list">
      <label class="item item-input" id="nuevoConsejo-textarea1">
        <!--span class="input-label">Descripción:</span-->
        <textarea ng-model="entrada" style="height: 300px;" placeholder="Nueva entrada"></textarea>
      </label>
    </form>
    <button id="nuevoConsejo-button23" class="button button-royal  button-block" ng-click="newEntry(entrada)">Agregar</button>
  </ion-content>
</ion-view>
