<ion-view title="Registrarse" id="page9" style="">
  <ion-content padding="true" style="background: url(img/hj7WgSueQuGQRfgOUMNK_baby-during-pregnancy.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="registrarse-form6" class="list">
      <ion-list id="registrarse-list12">
        <label class="item item-input" id="registrarse-input5">
          <span class="input-label">Nombre</span>
          <input placeholder="" type="text">
        </label>
        <label class="item item-input" id="registrarse-input6">
          <span class="input-label">Usuario</span>
          <input placeholder="" type="text">
        </label>
        <label class="item item-input" id="registrarse-input8">
          <span class="input-label">Correo Electrónico</span>
          <input placeholder="" type="email">
        </label>
        <label class="item item-input" id="registrarse-input9">
          <span class="input-label">Último Período</span>
          <input placeholder="" type="date">
        </label>
        <label class="item item-input" id="registrarse-input7">
          <span class="input-label">Contraseña</span>
          <input placeholder="" type="password">
        </label>
        <label class="item item-input" id="registrarse-input10">
          <span class="input-label">Confirmar la contraseña</span>
          <input placeholder="" type="password">
        </label>
      </ion-list>
      <ion-checkbox id="registrarse-checkbox1" style="">Acepto los términos y condiciones.</ion-checkbox>
      <a ui-sref="iniciarSesiN" id="registrarse-button12" class="button button-royal  button-block">Aceptar</a>
    </form>
    <a ui-sref="iniciarSesiN" id="registrarse-button13" class="button button-dark  button-block">Regresar</a>
  </ion-content>
</ion-view>